<h1>Categories</h1>

{{!-- READ table --}}
<table>
  <thead>
    <tr>
      {{#each categories.[0]}}
      <th>{{@key}}</th>
      {{/each}}
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      {{#each this}}
      <td>{{this}}</td>
      {{/each}}

      {{!-- DELETE form --}}
      <td>
        <form method="POST" action="/categories/delete">
          <input type="hidden" name="delete_category_id" value="{{categoryID}}" />
          <button type="submit">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{!-- CREATE form --}}
<h2>Create a Category</h2>
<form class="cuForm" id="create_category_form" method="POST" action="/categories/add">
  <label for="categoryName">Category Name:</label>
  <input type="text" name="categoryName" id="categoryName" required />

  <button type="submit">Add Category</button>
</form>

{{!-- UPDATE form --}}
<h2>Update a Category</h2>
<form class="cuForm" id="update_category_form" method="POST" action="/categories/update">
  <label for="categoryID">Category to Update:</label>
  <select name="categoryID" id="categoryID" required>
    <option value="" disabled selected>Select a Category</option>
    {{#each categories}}
    <option value="{{this.categoryID}}">
      {{this.categoryID}} - {{this.categoryName}}
    </option>
    {{/each}}
  </select>

  <label for="categoryName">New Category Name:</label>
  <input type="text" name="categoryName" id="categoryName" required />

  <button type="submit">Update Category</button>
</form>
